body {
  background: wheat;
}
a {
color: blueviolet;
display: block;
}

.container {
max-width: 600px;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: green;
  display: inline;
}